* 
	box-sizing: border-box 
body 
	font-family: "Mulish", sans-serif 
	color: $color-text-white 
a
	text-decoration: none
	color: $color-text-white
button
	background: $color-button
	color: $color-text-white
	border: none
	&:hover
		cursor: pointer 
.boundaries 
	margin: auto 
	display: flex
	justify-content: space-between
.parallax-window
	min-height: 260px
	background: transparent
