* 
	box-sizing: border-box 
body 
	font-family: "Mulish", sans-serif 
	color: $color-text-light 
a
	text-decoration: none
	color: $color-text-light 

.boundaries 
	max-width: 1110px
	margin: auto 
	display: flex
	justify-content: space-between
