* 
	box-sizing: border-box 
body 
	font-family: "Mulish", sans-serif 
	color: $color-text-white 
a
	text-decoration: none
	color: $color-text-white
button
	background: $color-button
	color: $color-text-white
	border: none
	&:hover
		cursor: pointer 
.boundaries 
	max-width: 1110px
	margin: auto 
	display: flex
	justify-content: space-between
.swiper-button-prev
  &:hover
    cursor: default
  &::after
    content: ''
.swiper-button-next
  &:hover
    cursor: default
  &::after
    content: ''

