.about-us
  width: 100%
  background: $color-background-light
  color: $color-text-dark
  &__content
    flex-direction: column
    align-items: center
    padding-top: 12px
    padding-bottom: 70px
  &__title
    font-weight: 700
    font-size: 36px
    text-transform: uppercase
    margin-bottom: 71px
  &__feedback
    width: 1072px
    position: relative
  &__item
    width: 731px
    height: 280px
    margin: auto
    display: flex
    flex-direction: column
    align-items: center
    background: $color-background-white
    padding: 55px 96px 20px 99px
    border-radius: 8px
    object-fit: cover
    position: relative
    margin-top: 45px
  &__user
    display: flex
    flex-direction: column
    align-items: center
    margin-top: -100px
    &-name
      font-weight: 700
      font-size: 12px
      color: $color-text-red
      margin-bottom: 11px
    &-avatar
      width: 90px
      height: 90px
      object-fit: cover
      border-radius: 50%
      margin-bottom: 10px
  &__date
    font-size: 10px
    color: $color-text-black
    margin-bottom: 4px
  &__rating
    display: flex
    margin-bottom: 18px
  &__star
    width: 8px
    height: 8px
    margin-right: 2px
    margin-bottom: 2px
  &__message
    font-size: 12px
    line-height: 160%
    text-align: justify
    max-height: 114px
    overflow: hidden
    text-overflow: ellipsis
    overflow-wrap: break-word
  &__open
    width: 70px
    height: 48px
    position: absolute
    left: 8.49%
    top: 5.14%
    opacity: 0.4
  &__close
    width: 70px
    height: 48px
    position: absolute
    transform: rotate(180deg)
    right: 8.62%
    top: 43.04%
    opacity: 0.4
  &__button
    width: 30px
    height: 30px
    background: $color-background-light
    position: absolute
    top: 46%
    transform: translateY(-50%)
    &--previous
      left: 0
    &--next
      right: 0
  &__arrow-right
    transform: rotate(180deg)


