.hotel
  width: 100%
  background: $color-background-light
  color: $color-text-dark
  padding-bottom: 67px
  &__content
    flex-direction: column
  &__bio
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 22px
  &__description
    display: flex
    flex-wrap: wrap
    align-items: center
  &__stars
    flex-basis: 100%
  &__star 
    width: 8px
    height: 8px
  &__name
    font-weight: 700
    font-size: 24px
    line-height: 30px
    margin: 0
    text-transform: uppercase
    margin-right: 14px
  &__offer
    font-weight: 600
    font-size: 10px
    border-radius: 3px
    padding: 3px 9px 4px 9px
    background: $color-button
    color: $color-text-white
  &__bonus
    font-size: 12px
    flex-basis: 100%
  &__photos
    position: relative
    border-radius: 8px
  &__photo
    width: 728px
    height: 450px
    object-fit: cover
    border-radius: 8px
    background-blend-mode: multiply
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
    overflow: hidden
    &-previous
      background: $color-background-light
    &-next
      background: $color-background-light
    &-arrow-left
      position: absolute
      top: 219px
      left: 26px
      cursor: pointer
    &-arrow-right
      position: absolute
      top: 219px
      right: 58px
      transform: rotate(180deg)
      cursor: pointer
  &__rating
    width: 65px
    height: 45px
    border-radius: 4px
    padding-top: 9px
    padding-bottom: 9px
    background: $color-button
    color: $color-text-white
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &__user-rating
    font-weight: 600
    font-size: 8px
    line-height: 10px
    padding-top: 8px
  &__number-rating
    font-weight: 700
    font-size: 14px
    line-height: 18px
  &__number-all
    font-size: 9px
  &__visualization
    display: flex
    justify-content: space-between
  &__booking
    display: flex
    flex-direction: column
    background: $color-background-dark
    color: $color-text-white
    font-family: 'Nunito', sans-serif
    padding: 30px 30px 23px 23px
    margin-bottom: 27px
    border-radius: 8px
    &-supply
      display: flex
      justify-content: space-between
      margin-bottom: 2px
    &-left
      display: flex
      flex-direction: column
    &-price
      font-size: 10px
      margin-bottom: 5px
      &-item
        font-weight: 800
        font-size: 24px
      &-type
        font-size: 12px
        margin-bottom: 10px
    &-right
      font-size: 12px
    &-call
      &-centre
        display: flex
        justify-content: space-between
        font-weight: 600
        font-size: 18px
        margin-bottom: 20px
      &-number
        &:hover
          cursor: pointer
    &-button
      border-radius: 4px
      padding-top: 13px
      padding-bottom: 13px
    &-persons
      display: flex
      padding-top: 5px
      margin-bottom: 10px
    &-guests
      margin-left: 10px
    &-rooms
      display: flex
      justify-content: flex-end
    &-room-number
      margin-left: 15px
  &__map-point
    width: 347px
    height: 213px
    object-fit: cover
    border-radius: 10px
    
