.hotel
  width: 100%
  padding-bottom: 67px
  background: $color-background-light
  color: $color-text-dark
  &__content
    flex-direction: column
  &__breadcrumb
    &-list
      display: flex
      list-style: none
      padding-left: 0
      margin-top: 0
      padding: 18px 0 19px 0
      margin-bottom: 24px
    &-item
      font-size: 10px
      line-height: 13px
      padding-right: 2px
      &:not(:last-child)
        &::after
          content: '/'
    &-ref
      color: inherit
      text-decoration: none
      &:hover
        &:not(:last-child)
          cursor: pointer
  &__bio
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px
  &__description
    display: flex
    flex-wrap: wrap
    align-items: center
  &__stars
    display: flex
    align-self: center
    flex-basis: 100%
  &__star 
    width: 8px
    height: 8px
    margin-right: 2px
    margin-bottom: 2px
  &__name
    font-weight: 700
    font-size: 24px
    line-height: 30px
    margin: 0
    margin-bottom: 2px
    margin-right: 14px
    text-transform: uppercase
  &__offer
    font-weight: 600
    font-size: 10px
    border-radius: 3px
    padding: 4px 9px 4px 9px
    background: $color-button
    color: $color-text-white
  &__bonus
    font-size: 12px
    flex-basis: 100%
  &__slide
    object-fit: cover
  &__photos
    width: 728px
    height: 450px
    margin-left: 0  
    border-radius: 8px
    position: relative
    &:after
      content: ""
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
      z-index: 10
  &__photo
    &-button
      width: 30px
      height: 30px
      z-index: 20
      position: absolute
      top: 50%
      transform: translateY(-50%)
      background-color: transparent
      &--previous
        left: 17px
      &--next
        right: 17px
    &-arrow-right
      transform: rotate(180deg)
  &__rating
    border-radius: 4px
    padding: 8px 7px 6px 6px
    background: $color-button
    color: $color-text-white
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &__user-rating
    font-weight: 600
    font-size: 8px
  &__number-rating
    font-weight: 700
    font-size: 14px
    line-height: 18px
  &__number-all
    font-size: 9px
  &__visualization
    display: flex
    justify-content: space-between
  &__booking
    display: flex
    flex-direction: column
    background: $color-background-dark
    color: $color-text-white
    font-family: 'Nunito', sans-serif
    padding: 30px 30px 23px 23px
    margin-bottom: 27px
    border-radius: 8px
    &-supply
      display: flex
      justify-content: space-between
      margin-bottom: 2px
    &-left
      display: flex
      flex-direction: column
    &-price
      font-size: 10px
      margin-bottom: 5px
      &-item
        font-weight: 800
        font-size: 24px
      &-type
        font-size: 12px
        margin-bottom: 10px
    &-right
      font-size: 12px
    &-call
      &-centre
        display: flex
        justify-content: space-between
        font-weight: 600
        font-size: 18px
        margin-bottom: 20px
      &-number
        &:hover
          cursor: pointer
    &-button
      border-radius: 4px
      padding-top: 13px
      padding-bottom: 13px
    &-persons
      display: flex
      padding-top: 5px
      margin-bottom: 10px
    &-guests
      margin-left: 10px
    &-rooms
      display: flex
      justify-content: flex-end
    &-room-number
      margin-left: 15px
  &__map-point
    width: 347px
    height: 213px
    object-fit: cover
    border-radius: 10px
