@media (max-width: 1960px)
  .boundaries
    max-width: 77.08333%
  .search-bar__find-bar
    width: 350px
  .hotel
    &__photos
      width: 65.58558%
      height: 450px
    &__info
      width: 31.53153%
    &__map
      width: 100%
      &-point
        width: 100%
  .newsletter__text
    width: 350px
  .other
    &__active
      width: calc(25% - 22.5px)
    &__img
      width: 100%
      height: 255px
    &__offer
      width: 200px
// --------------------------------------------------
@media (max-width: 1280px)
  .boundaries
    max-width: 90.48068%
  .user
    margin-left: 0
  .hotel
    &__visualization
      flex-wrap: wrap
    &__info
      width: 100%
      display: flex
      justify-content: space-between
    &__photos
      width: 100%
      height: 450px
      margin-bottom: 30px
    &__booking
      width: calc(50% - 15px)
      padding: 30px 30px 28px 23px
    &__map
      width: calc(50% - 15px)
  .about-us__feedback
    width: 100%
  .other
    &__offer
      top: 128px
      width: 180px
// --------------------------------------------------
@media (max-width: 1060px)
  .boundaries
    max-width: 88.50174%
  .horizontal-logo
    margin: 0
  .search-bar
    margin: 0
    &__find-bar
      width: 320px
  .about-us
    &__item
      width: 600px
  .other
    &__activities
      flex-wrap: wrap
      justify-content: space-between
    &__active
      width: calc(50% - 15px)
      margin-bottom: 30px
    &__offer
      top: 143px
  .footer__bottom-list
    margin-right: 240px

// --------------------------------------------------
@media (max-width: 860px)
  .boundaries
    max-width: 91.14583%
  .top
    padding-top: 30px
    padding-bottom: 30px
  .horizontal-logo-img
    width: 133px
    height: 18px
  .search-bar__find-bar
    width: 340px
  .user
    margin-left: 26px
  .nav
    padding: 23px 0 23px 0
    &__menu
      justify-content: space-around
    &__item
      font-size: 12px
  .hotel
    padding-bottom: 33px
    &__photos
      margin-bottom: 29px
    &__booking
      width: calc(50% - 12.5px)
      min-height: 210px
      padding: 32px 22px 23px 23px
      &-button
        font-size: 14px
    &__map
      width: calc(50% - 12.5px)
    &__map-point
      min-height: 210px
  .newsletter
    // background-size: 100% auto
    &__to-our
      margin-bottom: 3px
    &__content
      justify-content: space-between
      padding-top: 95px
    &__text
      padding-left: 33px
    &__subscribe
      margin: 0
  .about-us
    &__content
      padding-top: 19px
    &__feedback
      width: 692px
    &__title
      font-size: 30px
      margin-bottom: 51px
    &__item
      width: 580px
      height: 300px
      padding: 55px 60px 19px 65px
      &-avatar
        left: 42%
    &__buttons
      top: 50%
    &__button
      &--previous
        margin-left: -3px
      &--next
        margin-right: -3px
    &__message
      -webkit-line-clamp: 7  // максимальное количество строк
    &__open
      display: none
    &__close
      display: none
  .other
    padding-top: 29px
    padding-bottom: 58px
    &__active
      width: calc(50% - 12.5px)
      margin-bottom: 16px
    &__offer
      width: 200px
    &__get
      bottom: 25px
  .footer
    padding-top: 33px
    &__wrapper
      grid-template-rows: repeat(4, min-content)
      grid-template-columns: 23.143% 37.143% 28.851%
      column-gap: 38px
    &__logo
      grid-row: 1 / 2
      padding-top: 0
      &-item
        width: 97px
    &__social
      grid-row: 1 / 2
      grid-column: 2 / 4
      margin-left: -13px
      padding-top: 6px
    &__categories
      grid-row: 2 / 3
    &__additional
      grid-row: 2 / 3
    &__legal
      grid-row: 2 / 3
    &__contact
      grid-row: 3 / 4
      grid-column: 1 / 4
      padding-top: 60px
    &__send
      grid-row: 4 / 5  
      grid-column: 1 / 4
      padding-top: 58px
      &-form
        max-width: 77%
    &__bottom
      margin-left: 0
      padding-top: 57px
      padding-bottom: 33px
      justify-content: space-between
      &-list
        margin-right: 0

// --------------------------------------------------
@media (max-width: 767px)
  .boundaries
    max-width: 87.36349%
  .search-bar__find-bar
    width: 250px
  .user
    margin-left: 26px
    &-profile
      flex-direction: column
      &__avatar
        width: 35px
        height: 35px
        margin-right: 0
        margin-bottom: 5px
  .nav
    padding: 23px 0 23px 0
    &__menu
      justify-content: space-between
    &__item
      font-size: 10px
  .hotel
    &__breadcrumb-list
      margin-bottom: 0
    &__rating
      display: none
    &__photos
      margin-bottom: 20px
    &__booking
      width: calc(50% - 10px)
      min-height: 213px
      &-call-centre
        font-size: 16px
    &__map
      width: calc(50% - 10px)
      &-point
        min-height: 213px
  .newsletter
    &__content
      flex-direction: column
      align-items: flex-start
    &__title
      font-size: 32px
    &__text
      width: 315px
  .about-us
    &__feedback
      width: 100%
    &__title
      font-size: 30px
    &__item
      width: 520px
      height: 300px
      padding: 55px 60px 19px 65px
      &-avatar
        left: 42%
    &__message
      -webkit-line-clamp: 8  // максимальное количество строк
  .other
    padding-top: 29px
    &__active
      width: calc(50% - 10px)
      margin-bottom: 18px
    &__offer
      width: 180px

// --------------------------------------------------
@media (max-width: 570px)
  body
    padding-top: 68px
  .boundaries
    max-width: 88.125%
  .search-bar
    margin-bottom: 16px
    &_mobile_hidden
      display: none
    &__find-bar 
      width: 243px 
  .user
    &_mobile_hidden
      display: none
    &-profile
      &__name
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 18px
        text-transform: none
        color: $color-text-white
        margin-bottom: 8px
      &__avatar 
        width: 40px 
        height: 40px
        margin-bottom: 9px
  .menu-mobile
    display: flex
  .nav
    display: none
    position: fixed
    left: 0
    right: 0
    bottom: 0
    top: 68px
    padding: 19px 0 23px 0
    &__menu
      flex-direction: column
      align-items: center
      overflow-y: auto
    &__mobile--visible
      display: block
    &__item
      font-size: 12px
      margin-bottom: 22px
      &--mobile
        display: block
  .header
    &_mobile_fixed
      position: fixed
      left: 0
      top: 0
      right: 0
      z-index: 100
  .top
    padding-top: 25px
    padding-bottom: 25px
  .horizontal-logo-img
    width: 99px
    height: 14px
  .hotel
    &__breadcrumb-list
      padding-top: 20px
      margin-bottom: 4px
    &__description
      justify-content: space-between
      align-items: flex-start
    &__bio
      margin-bottom: 40px
    &__rating
      display: none
    &__stars
      flex-basis: 20%
    &__offer
      order: -1
      margin-right: 138px
      margin-bottom: 10px
    &__stars
      flex-basis: 22%
      padding-bottom: 8px
    &__photos
      height: 179px
    &__info
      flex-direction: column
    &__booking
      width: 100%
      min-height: 210px
      padding-top: 30px
      margin-bottom: 21px
      &-call-centre
        font-size: 18px
      &-call-img
        margin-right: 5px
      &-button
        font-size: 14px
    &__map
      width: 100%
      &-point
        height: 173px
        min-height: 173px
  .newsletter
    height: 320px
    // background-size: 148% auto
    // background-position-y: 80%
    &__content
      padding-top: 79px
      flex-direction: column
      align-items: flex-start
    &__text
      width: 280px
      padding-left: 19px
    &__to-our
      font-size: 20px
      margin-bottom: 8px
    &__title
      font-size: 30px
      margin-bottom: 37px
  .about-us
    &__content
      padding-top: 26px
      padding-bottom: 46px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &__item
      width: 100%
      height: 438px
      border-radius: 8px
      padding: 55px 31px 19px 33px
      &-avatar
        left: 30%
    &__buttons
      top: 10%
    &__button
      &--previous
        margin-left: 34px
      &--next
        margin-right: 39px
    &__message
      -webkit-line-clamp: 14  // максимальное количество строк
      text-align: left
  .other
    padding-bottom: 48px
    &__title
      font-weight: 700
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
    &__active
      width: 100%
    &__img
      width: 100%
      height: 255px
    &__offer
      width: 62.5%
    &__activities div:nth-child(2)
      order: 3
    &__activities div:nth-child(4)
      order: 3
    &__activities div:nth-child(3)
      margin-bottom: 26px
  .footer
    padding-top: 63px
    &__wrapper
      grid-template-rows: repeat(7, min-content)
      grid-template-columns: 100%
    &__logo
      grid-row: 1 / 2
      &-item
        height: 120px
    &__social
      grid-row: 2 / 3
      grid-column: 1 / 2
      flex-wrap: wrap
      margin-left: 0
      padding-top: 30px
      &-title
        flex-basis: 100%
        margin-bottom: 22px
    &__legal
      grid-row: 3 / 4
      padding-top: 23px
      &-list
        margin-top: 17px
    &__additional
      grid-row: 4 / 5
      padding-top: 30px
    &__categories
      grid-row: 5 / 6
      padding-top: 6px
    &__contact
      grid-row: 6 / 7
      grid-column: 1 / 2
      padding-top: 38px
      &-pin
        min-width: 31px
    &__send
      grid-row: 7 / 8
      grid-column: 1 / 2
      &-title
        margin-bottom: 14px
      &-name
        flex-basis: 100%
      &-phone
        flex-basis: 100%
      &-form
        max-width: 100%
      &-message
        margin-bottom: 0
      &-required
        flex-basis: 100%
        margin-bottom: 16px
      &-button
        order: 2
    &__bottom
      flex-wrap: wrap
      padding-top: 32px
      &-list
        flex-basis: 100%
        margin-bottom: 10px
      &-item
        margin-right: 0


