.newsletter
  &__styling
    position: relative
  &__backgroung
    position: absolute
    top: 0
    left: 0
  &__shadow
    position: absolute
    top: 0
    left: 0
    opacity: 0.5
  &__content
    position: relative
    align-items: center
  &__subscribe
    display: flex
    flex-direction: column
  &__to-our
    font-weight: 300
    font-size: 24px
  &__title
    font-weight: 600
    font-size: 36px
    text-transform: uppercase
  &__bar
    border-radius: 4px
    overflow: hidden
    position: relative
  &__text
    width: 350px
    height: 55px
    font-weight: 300
    font-size: 14px
    padding-left: 23px
		padding-right: 75px
    border: none
  &__button
    width: 65px
    height: 55px
    position: absolute
    right: 0
    top: 0
    font-weight: bold
    font-size: 12px


